force-app/main/default/flows/A_After_Flow_Simple.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_1_for_A</name>
        <label>Add 1 for A</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NumberOfVowels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Name_Contain_E</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_for_E</name>
        <label>Add 1 for E</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>NumberOfVowels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_Contain_I</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_for_I</name>
        <label>Add 1 for I</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>NumberOfVowels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Name_Contain_O</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_for_O</name>
        <label>Add 1 for O</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>NumberOfVowels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Name_Contain_U</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_for_U</name>
        <label>Add 1 for U</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>NumberOfVowels</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Number_Of_Vowels</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Vowels</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;AEIOU&apos;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Name_Contain_A</name>
        <label>Does Name Contain A</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Does_Name_Contain_E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&apos;A&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_for_A</targetReference>
            </connector>
            <label>Contains A</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Name_Contain_E</name>
        <label>Does Name Contain E</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Name_Contain_I</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&apos;E&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_for_E</targetReference>
            </connector>
            <label>Contains E</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Name_Contain_O</name>
        <label>Does Name Contain O</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Does_Name_Contain_U</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_O</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&apos;O&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_for_O</targetReference>
            </connector>
            <label>Contains O</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Name_Contain_U</name>
        <label>Does Name Contain U</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Set_Number_Of_Vowels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_U</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&apos;U&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_for_U</targetReference>
            </connector>
            <label>Contains U</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Contain_I</name>
        <label>Does Name Contain I</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Does_Name_Contain_O</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&apos;I&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_for_I</targetReference>
            </connector>
            <label>Contains I</label>
        </rules>
    </decisions>
    <interviewLabel>A After Flow Simple {!$Flow.CurrentDateTime}</interviewLabel>
    <label>A After Flow Simple</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Number_Of_Vowels</name>
        <label>Set Number Of Vowels</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <inputAssignments>
            <field>Number_Of_Vowels__c</field>
            <value>
                <elementReference>NumberOfVowels</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Name_Contain_A</targetReference>
        </connector>
        <object>A__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NumberOfVowels</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
