force-app/main/default/flows/A_After_Flow_Apex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Count_Number_Of_Vowels</name>
        <label>Count Number Of Vowels</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>CountNumberOfVowels</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Number_Of_Vowels</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>la</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>Vowels</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;AEIOU&apos;</stringValue>
        </value>
    </constants>
    <interviewLabel>A After Flow Apex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>A After Flow Apex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Number_Of_Vowels</name>
        <label>Set Number Of Vowels</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Number_Of_Vowels__c</field>
            <value>
                <elementReference>NumberOfVowels</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Count_Number_Of_Vowels</targetReference>
        </connector>
        <object>A__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NumberOfVowels</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
